$container-min-height: 60px;
$box-width: 60px;
$title-box-width: 255px;
$title-font-size: 25px;
$white-transparent: #fff9;
$black: #000;
$title-color: #040000;

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  display: flex;
  min-height: $container-min-height;
  background-color: $white-transparent;
  border-top: 1px solid $black;
  border-bottom: 1px solid $black;

  .menu-box {
    @include flex-center;

    width: $box-width;
  }

  .title-box {
    @include flex-center;

    width: $title-box-width;
    border-left: 1px solid $black;
    border-right: 1px solid $black;
    color: $title-color;
    font-size: $title-font-size;
  }

  .cart-box {
    @include flex-center;

    width: $box-width;
  }
}
