.shop-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: auto;
  height: 100vh;
  background-color: #f2f2f2;
}

.page-container {
  display: flex;
  flex-direction: column;
  width: 375px;
  background-color: #fff;

  .header-container {
    display: flex;
    height: 60px;
    background-color: #fff9;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;

    .menu-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
    }

    .title-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 255px;
      border-left: 1px solid #000;
      border-right: 1px solid #000;
      color: #040000;
      font-size: 25px;
    }

    .cart-box {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 60px;
    }
  }

  .main-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 0 16px;
    overflow-y: scroll;

    .content-box {
      margin: 26px 0;
      font-size: 20px;
      font-weight: 600px;
      line-height: 30px;

      p {
        margin: 0;
        background-color: white;
      }
    }

    .product-box {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 32px 7px;
      align-content: start;
      height: 100%;
    }
  }
}
